mixin pages(previous=false, next=false)
    .pages 
        .next
            if previous
                a(href=getValidID(previous)+'.html') 
                    |<span class="material-icons one-point-five-rem-fs" style="text-decoration: none;">
                    |arrow_back
                    |</span>
                    .ptext= previous
        .prev
            if next 
                a(href=getValidID(next)+'.html') 
                    .ptext= next  
                    |<span class="material-icons one-point-five-rem-fs" style="text-decoration: none;">
                    |arrow_forward
                    |</span>


